@layout("layouts/default")

@section('content')
<div class="container-fluid" data-dashboard>
  <div class="row dashboard--container">
    <div class="col col-md-4 sidebar p-0 dashboard--sidebar">
      @include('partials/project-ul')
    </div>

    <div class="col-12 col-md mt-3 dashboard--main">
      @include('partials/loading-animation')
      @include('partials/modal')
      @include('partials/stage-ul')
    </div>
  </div>
</div>

<script>
var projectUsers = [];
</script>
@endsection
