@layout("layouts/default")

@section('content')
<div class="container-fluid">
  <div class="row">
    <div class="col-12 order-lg-2 col-lg-6">
      @include('partials/forms/login')
    </div>

    <div class="col-12 order-lg-1 col-lg-6">
      @include('partials/forms/register')
    </div>
  </div>
</div>
@endsection
