<li class="projects--item list-group-item">
  <form action="/project/store" method="POST" id="create-new-project" data-create-project-form>
    {{ csrfField() }}
    <div class="form-group input-group">
      <input type="text" class="form-control" name="project-name" id="project-name" placeholder="Project Name">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</li>
