<ul class="list-group projects" data-project-ul>
    <button type="button" class="btn bg-teal text-white" data-toggle="modal" data-target="#new-project--modal">
      <span class="mr-2">New Project</span><i class="fas fa-plus-circle"></i>
    </button>
  @include('cloneables/project-li')
</ul>
