<form action="#" data-project-name-form>
  <input type="text" name="name" class="project-name-heading project-name-heading--input" data-project-name-input style="display: none">
</form>
<ul class="list-group stages" data-stage-ul>
  @include('cloneables/stage-li')
</ul>
