body {
  padding-top: $nav-height;
  background-image: url('/assets/images/geometry.png');
  font-family: $sans-serif;
}

h1 {
  font-family: $sans-serif;
}

h2 {
  font-family: $sans-serif;
}

h3 {
  font-family: $sans-serif;
}

h4 {
  font-family: $sans-serif;
}

p {
  font-family: $serifs;
}
