.vertical {
  @include media-breakpoint-up(md) {
    .stage {
      &s {
        padding-bottom: 10px;
        flex-direction: row;
      }

      &--container {
        min-width: 290px;
        margin: 5px 10px;
      }
    }

    .task {
      &s {
        flex-direction: row;
      }

      &-toolbar {
        &--container {
          &__active {
            box-shadow: 0px 20px 50px -26px #0c0c0c !important; // .task-toolbar--container
            background-color: linear-gra;
            background-image: linear-gradient(
              to bottom right,
              #ffedcb,
              #fff4e0
            );
          }

          text-align: right;
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          padding: 5px 10px;
          color: rgba(lighten($dark-grey, 40%), 0.5);

          .fas {
            margin-left: 3px;
          }
        }
        &--toolbar {
          display: inline;
          i {
            &:hover {
              color: $dark-grey;
            }
            cursor: pointer;
          }

          .error {
            color: $red;
            &:hover {
              color: $red;
            }
          }
        }
        &--toggle {
          display: inline;
          &:hover {
            color: $dark-grey;
          }
        }
      }

      &--form {
        padding-top: 15px;
      }

      &--input {
        &__name {
          border: none;
          display: inline;
          font-size: 1rem;
          font-weight: 600;
          cursor: text;
          background-color: inherit;
        }

        &__description {
          cursor: text;
          resize: none;
          border: none;
          background-color: inherit;
          font-family: lora;
          @include verticalScrollBar();
        }

        &__user {
          border: none;
          display: inline;
          font-size: 1rem;
          font-weight: 500;
          cursor: text;
          background-color: inherit;
        }
      }

      &--container {
        min-width: 250px;
        max-width: 250px;
        height: 200px;
        overflow: hidden auto;
        margin: 0 30px 0 0;
        border: none;
        box-shadow: 0px 20px 15px -26px $black;
        // box-shadow: 5px 5px 0px 0px rgba($black, .8);
        transition: 100ms ease-in-out;
        cursor: default;

        &:hover {
          box-shadow: none;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border-width: 0 0 26px 26px;
          border-style: solid;
          border-color: darken($sunset, 15%) $white;
          box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
        }

        @include verticalScrollBar();
      }

      &--assigned-to {
        font-family: $sans-serif;

        .select2-selection--multiple {
          border: none !important; // overriding select2 styles
          background-color: $sunset !important;
        }
      }

      &--user {
        text-decoration: underline;
        cursor: text;
      }
    }
  }
}
