@include media-breakpoint-up(md) {
  .sidebar {
    max-width: 200px;
    position: fixed;
    height: calc(100vh - 56px);
    overflow-y: visible;
    overflow-x: hidden;
  }

  .dashboard--main {
    margin-left: 200px;
  }
}

.project-name-heading {
  background-color: rgba($white, 0);
  padding: 10px 0 0 0;
  position: relative;
  border: none;
  font-family: lato;
  font-weight: 500;
  font-size: 2rem;
  width: 100%;

  &--input {
    border-bottom: 3px solid $dark-grey;
    background-color: $white;
    padding: 5px 0 0 0;

    &:focus {
      outline: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: $dark-grey;
    transition: width 0.2s ease;
  }

  &:hover:after {
    width: 100%;
    left: 0;
    background: $dark-grey;
  }
}

.project {
  &--name {
    font-size: 1rem;
    font-weight: normal;
  }

  &--container {
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $light-grey;
    }

    &__active {
      border-right: 4px solid $red;
      background-color: $light-grey;
    }
  }
}

.stage {
  &--container {
    margin: 10px 0;
    overflow: auto;

    @include media-breakpoint-up(md) {
      max-width: calc(100vw - 250px);
      @include horizontalScrollBar();
    }
  }

  &--name {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.task {
  &s {
    flex-direction: row;
  }

  &-toolbar {
    &--container {
      &__active {
        box-shadow: 0px 20px 50px -26px #0c0c0c !important; // .task-toolbar--container
        background-color: linear-gra;
        background-image: linear-gradient(to bottom right, #ffedcb, #fff4e0);
      }

      text-align: right;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      padding: 5px 10px;
      color: rgba(lighten($dark-grey, 40%), 0.5);

      .fas {
        margin-left: 3px;
      }
    }
    &--toolbar {
      display: inline;
      i {
        &:hover {
          color: $dark-grey;
        }
        cursor: pointer;
      }

      .error {
        color: $red;
        &:hover {
          color: $red;
        }
      }
    }
    &--toggle {
      display: inline;
      &:hover {
        color: $dark-grey;
      }
    }
  }

  &--form {
    padding-top: 15px;
  }

  &--input {
    &__name {
      border: none;
      display: inline;
      font-size: 1rem;
      font-weight: 600;
      cursor: text;
      background-color: inherit;

      &:focus {
        outline: none;
      }
    }

    &__description {
      cursor: text;
      resize: none;
      border: none;
      background-color: inherit;
      font-family: lora;
      @include verticalScrollBar();

      &:focus {
        outline: none;
      }
    }

    &__user {
      // field is hidden by select2
      display: none;
    }
  }

  &--container {
    min-width: 250px;
    max-width: 250px;
    height: 200px;
    overflow: hidden auto;
    margin: 0 30px 0 0;
    border: none;
    box-shadow: 0px 20px 15px -26px $black;
    // box-shadow: 5px 5px 0px 0px rgba($black, .8);
    transition: 100ms ease-in-out;
    cursor: default;

    &:hover {
      box-shadow: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 0 0 26px 26px;
      border-style: solid;
      border-color: darken($sunset, 15%) $white;
      box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
    }

    @include verticalScrollBar();
  }

  &--assigned-to {
    font-family: $sans-serif;

    .select2-selection--multiple {
      border: none !important; // overriding select2 styles
      background-color: $sunset !important;
    }
  }

  &--user {
    text-decoration: underline;
    cursor: text;
  }
}

.select2-dropdown {
  background-color: $sunset;
}
