@mixin verticalScrollBar {
  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba($light-grey, 0.9);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: lighten($dark-grey, 10%);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $dark-grey;
  }
}

@mixin horizontalScrollBar {
  /* width */
  &::-webkit-scrollbar {
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba($light-grey, 0.9);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: lighten($dark-grey, 40%);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $dark-grey;
  }
}
