@layout("layouts/default")

@section('content')
<div class="projects--container">
  @!each(project in projects, include = 'partials/project-card')
</div>

<div class="tasks--container">
</div>

<div class="taks--details">
</div>
@endsection
