// COLOUR PALLET
$black: rgba(12, 12, 12);
$dark-grey: rgb(57, 62, 70);
$light-grey: rgb(248, 248, 248);
$sunset: rgb(255, 244, 224);
$orange: rgb(248, 181, 0);
$red: rgb(252, 60, 60);
$teal: rgb(0, 173, 181);
$white: rgb(255, 255, 255);

// Text
$text-dark: $dark-grey;
$text-light: $light-grey;
$text-highlight: $teal;
$text: $text-dark;

// Font
$sans-serif: lato, Verdana, sans-serif;
$serifs: lora, 'Times New Roman', Times, serif;

// Backgrounds
$bg-light: $light-grey;
$bg-dark: $dark-grey;

$nav-height: 56px;
