<li
  class="list-group-item stage--container"
  data-cloneable="stage-li"
  data-stage-id="{stage.id}"
  style="display: none"
>
  <h3 class="stage--name">{stage.name}</h3>
  <span class="stage-toolbar--container">
    <button
      type="button"
      class="btn btn-primary stage-toolbar--new-task"
      data-stage-toolbar-new-task-button
    >
      <i class="far fa-calendar-plus"></i> New Task
    </button>
  </span>
  @include('partials/task-ul')
</li>
