<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      @yield(pageTitle)
        Timeslice
      @endyield
    </title>

    <link rel="stylesheet" href="/css/app.css">

    @!section('head')
  </head>
  <body>
    @include('partials/nav')
    @!section('content')

    {{ script('js/app.js') }}
    @!section('script')
  </body>
</html>

