<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (pageTitle)
    <title>{{ pageTitle }}</title>
    @else
    <title>Timeslice</title>
    @endif

    <link rel="stylesheet" href="/css/app.css">

    @!section('head')
  </head>
  <body>
    @include('partials/nav')
    @!section('content')

    {{ script('js/app.js') }}
    @!section('script')
  </body>
</html>

