<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      @yield(pageTitle)
        Timeslice
      @endyield
    </title>

    <link href="https://fonts.googleapis.com/css?family=Lato|Lora" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">

    @!section('head')
  </head>
  <body>
    @include('partials/nav')
      @!section('content')

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {{ script('js/app.js') }}
    @!section('script')
  </body>
</html>

