.bg-black {
  background-color: $black;
}

.bg-dark-grey {
  background-color: $dark-grey;
}

.bg-light-grey {
  background-color: $light-grey;
}

.bg-sunset {
  background-color: $sunset;
}

.bg-orange {
  background-color: $orange;
}

.bg-red {
  background-color: $red;
}

.bg-teal {
  background-color: $teal;
}

.bg-white {
  background-color: $white;
}
